
.pictures{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1%;
    margin: 0 3% 30% 3%;
    padding-top: 5%;
}

img{
    padding-bottom:0;
    margin-bottom:0;
    width: 100%;
    transition: all 0.5s linear;
}

img:hover{
    transform: scale(1.2);
    border: solid 10px white;
}