/*.foot{
    border: solid;
    background-color: #6BCEDD;
    position: fixed;
    bottom: 0%;
    display: grid;
    grid-template-columns: 25% 32% 8%;
    grid-gap: 14%;
    height: 7.5%;
    width: 100%;
    padding: 0.2% 0% 0 7%;
    margin: 0 0 0 0;
    border: solid 0.1px rgba(119, 113, 113, 0.377);
}

h1{
    font-size: 0.8vw;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold
}

.iLinks{
    margin: auto auto 0 auto;
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 5%;
    font-size: 0.7vw;
    margin-bottom: 0;
    align-items: center;
}

.iLinks img {
    margin-left: 0;
    width:100%;
    border-radius: 5%;
}

.find{
    margin: auto auto auto auto;
}

.find a{
    padding-right: 2%;
    margin-top: 0;
    padding-top: 0;
}

#airbnb{
    width: 22%;
}

#booking{
    width: 27%;
}

#vrbo{
    width: 18%;
}

img{
    width: 25%;
    height: auto;
}

.tanglere{
    margin: auto auto auto auto;
}

.tanglere a{
    padding-left: 20%;
}

.tanglere svg {
    padding-top: 5%;
    width: 15%;
}*/

.foot{
    border: solid;
    background-color:  #6BCEDD; /*
    background-color: #f8ac85;*/
    color: black;
    position: fixed;
    bottom: 0%;
    display: grid;
    grid-template-columns: 25% 32% 8%;
    grid-gap: 14%;
    height: 7.5%;
    width: 100%;
    padding: 0.2% 0% 0 7%;
    margin: 0 0 0 0;
    border: solid 0.1px rgba(119, 113, 113, 0.377);
}

h1{
    font-size: 0.8vw;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold
}

.iLinks{
    margin: auto auto 0 auto;
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 5%;
    font-size: 0.7vw;
    margin-bottom: 0;
    align-items: center;
}

.iLinks img {
    margin-left: 0;
    width:100%;
    border-radius: 5%;
}

.find{
    margin: auto auto auto auto;
}

.find a{
    padding-right: 2%;
    margin-top: 0;
    padding-top: 0;
}

#airbnb{
    width: 22%;
}

#booking{
    width: 27%;
}

#vrbo{
    width: 18%;
}

img{
    width: 25%;
    height: auto;
}

.tanglere{
    margin: auto auto auto auto;
}

.tanglere a{
    padding-left: 20%;
}

.tanglere svg {
    padding-top: 5%;
    width: 15%;
}