<div>
    <div>
        <img src="https://cf.bstatic.com/images/hotel/max1024x768/176/176639689.jpg" alt="barbacoa">
    </div>

    <app-nav-bar></app-nav-bar>
    <div class="background">
        <div>
            <h1>Información de contacto</h1>
            <div class="info">
                <h6>Dirección</h6>
                <p>C/ Pintor Antonio López, 6  Valdeganga (Albacete)</p>
            </div>
            <div class="info">
                <h6>Correo electrónico</h6>
                <p>ajimen@gmail.com</p>
            </div>
            <div class="info">
                <h6>Teléfono</h6>
                <p>699 072 444</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>





