
<div class="navegationBar">
  
    <div>
        <nav>
            <a routerLink="/house">La casa</a>
            <a routerLink="/information">Otra información</a>
            <a routerLink="/booking">Tarifas y reservas</a>
            <a routerLink="/gallery">Galería de imágenes</a>
            <a routerLink="/contact">Contacto</a>
        </nav>
    </div>
</div>
<div>
    <img src="https://scontent.fmad7-1.fna.fbcdn.net/v/t1.0-9/120183202_3560282927327698_5870801149565491926_o.jpg?_nc_cat=101&_nc_sid=0debeb&_nc_ohc=R17lfRA9Ul4AX8bHuhx&_nc_ht=scontent.fmad7-1.fna&oh=61b0ea12408b5d67c97211025fd8e11b&oe=5F957409" alt="Logo Cuesta Blanca">
</div>
