body{
    margin-top: 0;
    margin-bottom: 20px;
}

h1{
    /*font-family: 'Londrina Solid', cursive;*/
    font-size: 5vw;
    text-align: center;
    color:black;
    padding: 5% 0 3% 0;
}

.otherInfo{
    padding-top: 2%;
    background-color:  #2626262f;
    padding-bottom: 5%;
}

.garage{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
    margin: auto auto auto  auto;
    width: 60%;
    text-align: left;
    font-size: 1vw;
}

.garage img{
    width: 100%;
}

.arrive{
    padding-top: 7%;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
    margin: auto auto auto  auto;
    width: 60%;
    text-align: left;
    font-size: 1vw;
    padding-bottom: 7%;
}

.arrive iframe{
    width: 100%;
    height: 100%;
}


h6{
    /*font-family: 'Londrina Solid', cursive;*/
    font-size: 1.5vw;
    margin: 5% 0 2% 0;
    text-align: center;
    color:#FF914D;
}

.description {
    padding-top: 3%;
    padding-bottom: 5%;
    width: 60%;
    margin: auto auto auto  auto;
}

.description p {
    width: 90%;
    margin: auto auto auto  auto;
    text-align: left;
    font-size: 1vw;
}

.description img {
    border: solid 1px white;
}

#description{
    background-color: #262626;
    color: white;
}


#myCarousel{
    width: 90%;
    margin: 5% auto auto  auto;
}


@media only screen and (max-width: 600px) {
    h1{
        font-size: 6vw;
        padding-top: 15%;
    }

    h6,h4{
        font-size: 4vw;
    }

    .garage{
        grid-template-columns: auto;
        width: 90%;
        font-size: 3vw;
        padding-bottom: 15%;
    }

    .arrive{
        padding-top: 5%;
        display: grid;
        grid-template-columns: auto;
        width: 90%;
        font-size: 3vw;
        padding-bottom: 15%;
    }

    .description {
        width: 95%;
        padding-bottom: 15%;
    }

    .description p{
        font-size: 3vw;
    }
}


